@font-face {
  font-family: montserrat;
  src: url(font/Montserrat-Light.ttf);
}
.body {
  background-color: #f6f6ea;
}
/* Burgermenu kode */
.burger-menu {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  color: #6a84a6;
  width: 100%;
}
#burger-toggle {
  display: none;
}
/* vis burger icon i mobile view */
.burger-menu {
  display: block;
}

/* skjul menuen */
nav ul {
  display: none;
  background: #6a84a6;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  height: 100%; /* bredden er 100% minus højre/venstre padding */
  z-index: 1; /*sørger for at burgermenuen ligger oven på herosection*/
  font-family: montserrat;
}
a:link {
  text-decoration: none;
  color: #f6f6ea;
}
nav a:visited {
  color: #f6f6ea;
}
/* vis menu når checkbox er checked */
#burger-toggle:checked + label + nav ul {
  display: block;
}
/* Herosection kode */

.herosection {
  position: relative;
  width: 100%;
  height: auto;
}
.herosection,
img {
  width: 100%;
  height: auto;
}
/* tema galleri kode */
.tema_galleri {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.tema_galleri img {
  width: 200px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 10/10;
  opacity: 0.5;
}
.tema_galleri img:hover {
  opacity: 1;
}
